<div class="container">
  <div class="row">
    <%= simple_form_for (@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.submit %>
    <% end %>
  </div>
  <%= link_to "Back to list", restaurants_path %>
</div>
