<h1><%= @restaurant.name %></h1>
<div class="restaurant-details">
  Category: <%= @restaurant.category %><br>
  Address: <%= @restaurant.address %><br>
  Phone: <%= @restaurant.phone_number %>
</div>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
    <span class="badge badge-primary badge-pill mr-2">
      <%= review.rating %><br>
    </span>
    <%= review.content %>
    </li>
  <% end %>
</ul>

<div id="button-create-back">
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary mt-4 mb-3' %><br>
  <%= link_to "Back to list", restaurants_path %>
</div>
