<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-lg">
        <img src="http://localhost:3000/assets/location-b50966a9a3b401c4e3267ce4679d574415066a53ea9a2059ef7d1cc71e417ae8.png" title="Restaurant list" >

<!--         <%= link_to restaurants_path, class: "navbar-brand" do %>
          <%= image_tag "location.png" %>
          <% end %> -->

        <div id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to restaurants_path, class: "nav-link" do %>
              <%= image_tag "list.png", title: "All restaurants" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_restaurant_path, class: "nav-link" do %>
              <%= image_tag "new.png", title: "Add a restaurant" %>
              <% end %>
            </li>
          </ul>

        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
